language: android
jdk: oraclejdk8

android:
  components:
    - platform-tools
    - tools
    - build-tools-25.0.2
    - android-25

    - extra-android-m2repository

branches:
  only:
    - "master"

before_install:
  - chmod +x gradlew
  - chmod -R +x scripts
  - mkdir "$ANDROID_HOME/licenses" || true
  - echo -e "\n8933bad161af4178b1185d1a37fbf41ea5269c55" > "$ANDROID_HOME/licenses/android-sdk-license"
  - echo -e "\n84831b9409646a918e30573bab4c9c91346d8abd" > "$ANDROID_HOME/licenses/android-sdk-preview-license"
  - openssl aes-256-cbc -K $encrypted_1f32612fea61_key -iv $encrypted_1f32612fea61_iv -in secrets.tar.enc -out secrets.tar -d
  - tar xvf secrets.tar

script: ./scripts/play-publish-if-not-pr.sh

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - $HOME/.android/build-cache

env:
  global:
    - secure: "dUOs3gRh5Icl3gRHyYapLnRT2Cd4caxxLEOKyA9GeOfQewI0wSM2MVDxFXvXsEHxu7y+tuKN2m+zIJmgXw6KXW2JK/1Ojb3Gsf6cT2ofrliiKJzuIRhCHV1sNPfDmThyXtlpZutqC48vyw7fNXY8nKzg7XJZ2MCFrE8qCZ4f1ldyjDy9XxcSKpZtHA2WUjCc2F0v4FW/6eGbfz2fP+T8HUJgh8vt6EZ3nRvuhSFa3PKt1r74EPQ7YeAe7iFwzrYS9KqGb6tPVDLX+qwI2SOW5c4U6d3yO7wpJYrwOov1crnHPmRUsLUhc5g7RgXzdZfycSzzh4r4t0r7wNC31Sw4FU2C0UofAAGhC72JPZP4BbqlKsKabvR09qBurW+nf+VYPKzgpQnlclBbkA0RJta1sQm1HETREZrWC6gBhb1nZ8JJhGTUl4o5NtwlG2Efm7aO+0BEO1VAMIEm6yMzkblgvzoVM7OxqZl6XM3Cqs0uJLVX1ut6DueK9PXoqiEGgnFkDzyy7jpZWELWp2bxmzypiH0urZ0s42Bsc68AxUXOln7BqHDbOuwNQl6GNZg1T5kZHBRoTyFD1CZalBhyMQo4NXrrXXaOQiMYsvSFySmQlRSKThWRP9SCJGIgmNUMT5wMYuAqaktApV+uvg6lFa8E5l5FpzNP7joTS3uawVaUE9M="
    - secure: "slCYkzCJndHh4zn+DXckPX+IJUEaWxOZCILxtlpod7qwUvmCbI878whAoVDU4rcmoYeLHa2ckqD764glNiKVjl09OdV48b/VxCDNHGgQ2UJRnngd5/qNHM4KiGtx/w4rN1OeGrS6mvqAYp+8HvzkKWFIM5XcqRvTk2N5ojDNDMX88PyCfC+1Oq+ZprZaBOiBOBCxTMxPB8kzlOanXlvaor5cn4mj48sp57gB0M2xtkFq0tL2yMo9AorNmTqbn+KB5/PvhltAr4lVnLZAkD6IIg93h715jnrpxNNFRT8O89DFmJATmYwoFpoIHss5PI5StkjbJOLBBR0EfQ5Ti1xcU6wkKYidla+Dh5dGDQVS6q0lE//dam1fzLpVBl3ZxEOH2qKNlXAxtBsDwNbXyJA9z9goMWjDF6o3hcAvZA30YNFVG+YmqIlAYTLXZpHlNqjs8Gb4mUpxdxUMMOFTYafbpcvYTTD6yR16AgQOU30PdfZrcmC6J2PVzZFuYc9u6QW4U3neVXVdDZAY/WaOmffnwpxTswHKYrngbkKSX+OZMIzujbwFC+KRm3aXgpzQfrtlM16t2CHQ6GMasN7xuaOrMPCabHt2MMB42CxPzhhBlwset9dE0WtJtjTYcZP8wo/3OC/FEeShoHysdjPKHPzC+Tmpuxta3xvw3Ts9na9r4iY="

notifications:
   slack: prenium:2gTwarksU0EirBAFHy56dj6j
